@media only screen and (max-width : 250px) {
    #logo {
        margin: 8px 5px 0;
    }

    #month #arrow-right {
        margin-top: -24px;
    }

    #month p{
        font-size: 19px !important;
    }

    #setting{
        padding: 11px 7px 0px;
    }

    .img{
        width : 20px;
        height : 20px;
    }

    #months{
        padding-top: 5px;
    }

    .textMenu{
        font-size: 0.7222em !important;
    }

    .day-of-week li{
        font-size: 0.9625em !important;
    }

    #year{
        font-size: 18px !important;
        color: red;
    }

    .submenu{min-width: 210%;}

    .submenu li a {
        padding: 17px 0;
        font-size: 15px !important;
    }

    .red{
        margin-right: 2px;
        width: 3px;
        height: 3px;
    }

    .days li {
        margin: 10px 0;
    }
}

@media only screen and (min-width : 251px) and (max-width : 320px) {
    #year{
        color: #ff930a;
    }

    #setting {
        padding: 10px 5px 0;
    }

    .submenu{
        min-width: 280%;
    }

    .submenu li a{
        padding: 18px 0;
    }

    .days li{
        margin: 10px 0;
    }
}

@media only screen and (min-width : 251px) and (max-width : 320px) and (min-device-pixel-ratio : 1.5) and (orientation : portrait),
only screen and (min-width : 251px) and (max-width : 320px) and (-webkit-min-device-pixel-ratio : 1.5) and (orientation : portrait),
only screen and (min-width : 251px) and (max-width : 320px) and (-o-min-device-pixel-ratio : 1.5/1) and (orientation : portrait),
only screen and (min-width : 251px) and (max-width : 320px) and (-moz-min-device-pixel-ratio : 1.5) and (orientation : portrait){
    #logo{
        margin: 12px 10px 0;
    }

    .logo{
        width: 43px;
        height: 43px;
    }

    #month #arrow-right {
        margin-top: -23px;
    }

    #month p{
        font-size: 18px !important;
    }

    #setting{
        padding: 13px 7px 0px;
    }

    .img{
        width : 20px;
        height : 20px;
    }

    .textMenu{
        font-size: 0.7222em;
    }

    .day-of-week li{
        font-size: 15px !important;
    }

    #year{
        font-size: 16px !important;
        color: red;
    }

    .submenu li a {
        padding: 18px 0;
        font-size: 0.7222em;
    }

    .test{
        font-size: 0.6666em !important;
    }

    .red{
        margin-right: 2px;
        width: 3px;
        height: 3px;
    }
}

@media only screen and (min-width : 251px) and (max-width : 320px) and (min-device-height : 480px) and (min-device-pixel-ratio : 1.5),
only screen and (min-width : 251px) and (max-width : 320px) and (min-device-height : 480px) and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-width : 251px) and (max-width : 320px) and (min-device-height : 480px) and (-o-min-device-pixel-ratio : 1.5/1),
only screen and (min-width : 251px) and (max-width : 320px) and (min-device-height : 480px) and (-moz-min-device-pixel-ratio : 1.5){
    #year{
        color: deepskyblue;
        font-size: 22px !important;
    }

    #logo{
        margin: 9px 8px 0;
    }

    #month p{
        font-size: 23px !important;
    }

    #month #arrow-right {
        margin-top: -26px;
    }

    #setting{
        padding: 12px 5px 0px;
    }

    .textMenu{
        font-size: 16px !important;
    }

    .day-of-week li{
        font-size: 16px !important;
    }

    .submenu li a {
        padding: 18px 0;
        font-size: 16px !important;
    }

    .test{
        font-size: 15px !important;
    }

    .red{
        margin-right: 2px;
        width: 5px;
        height: 5px;
    }

    .days li.first{
        margin-left: 0;
    }

    .days li{
        margin: 13px 0;
    }
}

@media only screen and (min-width : 251px) and (max-width : 320px) and (min-device-pixel-ratio : 2),
only screen and (min-width : 251px) and (max-width : 320px) and (-webkit-min-device-pixel-ratio : 2),
only screen and (min-width : 251px) and (max-width : 320px) and (-moz-min-device-pixel-ratio : 2),
only screen and (min-width : 251px) and (max-width : 320px) and (-o-min-device-pixel-ratio : 2/1){
    #year{
        color: green;
    }

    .days li.first{
        margin-left: 0;
    }
}

@media only screen and (min-width : 321px) and (max-width : 360px) {
    #year{color: chartreuse;}

    .submenu{
        min-width: 300%;
        right: -280%;
    }

    .textMenu{
        font-size: 15px !important;
    }

    #content{
        padding-top: 20px;
    }

    .logo{
        width: 45px;
        height: 45px;
    }

    .test{
        font-size: 15px ;
    }

    .show{
        right: 25%;
    }

    .day-of-week li{
        font-size: 17px !important;
    }

    #month #arrow-right {
        margin-top: -25px;
    }

    .red{
        width: 4px;
        height: 4px;
    }

    .days li{
        margin: 15px 0;
    }
}

@media only screen and (min-width : 321px) and (max-width : 360px) and (min-height : 640px) {
    .test {
        font-size: 16px !important;
    }
}

@media only screen and (min-width : 321px) and (max-width : 360px) and (orientation : landscape) {
    .test{
        font-size: 1em !important;
    }
}

@media only screen and (min-width : 361px) and (max-width : 480px) and (min-device-pixel-ratio : 1) and (orientation : portrait),
only screen and (min-width : 361px) and (max-width : 480px) and (-webkit-min-device-pixel-ratio : 1) and (orientation : portrait),
only screen and (min-width : 361px) and (max-width : 480px) and (-o-min-device-pixel-ratio : 1/1) and (orientation : portrait),
only screen and (min-width : 361px) and (max-width : 480px) and (-moz-min-device-pixel-ratio : 1) and (orientation : portrait){
    #year{
        color: #F3C73A;
        font-size: 30px !important;
    }

    .submenu{
        width: 290%;
        right: -280%;
    }

    .show{
        right: 25%;
    }

    .submenu li a {
        font-size: 23px !important;
        padding: 22px 0;
    }

    #header{
        border-width: 4px;
    }

    #content{
        padding-top: 25px;
    }

    #logo{
        margin: 13px 5px 5px;
    }

    .logo {
        content: url('../Image/Logo_med.png');
        width: 60px;
        height: 60px;
    }

    .img{
        width: 30px;height: 30px;
    }

    .textMenu{
        font-size: 21px !important;
    }

    #setting{
        padding: 18px 5px 5px;
    }

    #month #arrow-left {
        width: 40px;
        height: 40px;
        background: url(../Image/arrow_large.png) 0 0;
    }

    #month #arrow-right {
        width: 40px;
        height: 40px;
        background: url(../Image/arrow_large.png) -40px 0;
        margin-top: -32px;
    }

    #month p{
        font-size: 29px !important;
    }

    .day-of-week li{
        font-size: 21px !important;
    }

    .day-of-week{
        margin: 20px auto 0;
    }

    .test {
        font-size: 1.2em !important;
    }

    .red{
        width: 5px;height: 5px;
    }

    .days li{
        margin: 17px 0;
    }
}

@media only screen and (min-width : 361px) and (max-width : 480px) and (-webkit-min-device-pixel-ratio : 2)and (orientation : portrait),
only screen and (min-width : 361px) and (max-width : 480px) and (min-device-pixel-ratio : 2) and (orientation : portrait),
only screen and (min-width : 361px) and (max-width : 480px) and (-moz-min-device-pixel-ratio : 2) and (orientation : portrait),
only screen and (min-width : 361px) and (max-width : 480px) and (-o-min-device-pixel-ratio : 2/1) and (orientation : portrait){
    #year{
        color: lightseagreen;
        font-size: 24px !important;
    }

    .submenu{
        width: 260%;
        right: -270%;
    }

    .show{
        right: 25%;
    }

    .submenu li a {
        font-size: 18px !important;
        padding: 20px 0;
    }

    #header{
        border-width: 3px;
    }

    .logo {
        content: url('../Image/Logo.png');
        width: 48px;
        height: 48px;
    }

    .img{
        width: 25px;height: 25px;
    }

    .textMenu{
        font-size: 18px !important;
    }

    #setting{
        padding: 16px 5px 5px;
    }

    #months{
        padding-top: 8px;
    }

    #month p{
        font-size: 22px !important;
    }

    #month #arrow-right {
        margin-top: -30px;
    }

    .day-of-week li{
        font-size: 18px !important;
    }

    .test {
        font-size: 1em !important;
    }

    .days li{
        margin: 13px 0;
    }
}

@media only screen and (min-width : 361px) and (max-width : 480px) and (min-device-pixel-ratio : 1) and (orientation : landscape),
only screen and (min-width : 361px) and (max-width : 480px) and (-webkit-min-device-pixel-ratio : 1) and (orientation : landscape),
only screen and (min-width : 361px) and (max-width : 480px) and (-o-min-device-pixel-ratio : 1/1) and (orientation : landscape),
only screen and (min-width : 361px) and (max-width : 480px) and (-moz-min-device-pixel-ratio : 1) and (orientation : landscape){
    #logo {
        margin: 10px 5px 0;
    }

    #setting {
        padding: 13px 3px 5px;
    }

    .img{
        width: 20px;
        height: 20px;
    }

    .logo {
        content: url('../Image/Logo.png');
        width: 41px;
        height: 41px;
    }

    .textMenu {
        font-size: 13px !important;
    }

    .submenu{
        min-width: 320%;
        right: -310%;
    }

    .show{
        right: 25%;
    }

    .submenu li a{
        font-size: 15px !important;
        padding: 18px 0;
    }

    #content{
        padding-top : 10px;
    }

    #year{
        color:  deeppink;
        font-size : 22px !important;
    }

    #month p{
        font-size : 20px !important;
    }

    #months{
        padding-top : 2px;
    }

    #month #arrow-right {
        margin-top: -22px;
    }

    .day-of-week {
        margin: 15px auto 0;
    }

    .test {
        font-size: 1em !important;
    }

    .red{
        width: 5px;
        height: 5px;
    }

    .days li{
        margin: 10px 0;
        width: 9.375%;
    }

    .days li.num-day-first {
        margin-right: 1.9%;
    }

    .days li.num-day, .days li.num-day-last {
        margin-right: 5.25%;/*5.145%*/
    }
}

@media only screen and (min-width : 481px) and (max-width : 540px) {
    #year{
        color: aqua;
        font-size: 33px !important;
    }
    #logo{
        margin: 17px 15px 8px;
    }

    .logo{
        width: 60px;
        height: 60px;
        content: url('../Image/Logo_med.png');
    }

    #header{
        border-width: 5px;
    }

    #month p{
        font-size: 33px !important;
    }

    #setting{
        padding: 18px 5px 0px;
    }

    .img{
        width : 35px;
        height : 35px;
    }

    .textMenu{font-size: 22px !important;}

    #content{
        padding-top: 30px;
    }

    #top #month {
        margin: 10px auto;
    }

    #month #arrow-left {
        width: 50px;
        height: 50px;
        background: url(../Image/arrow_large2.png) 0 0;
    }

    #months{
        padding-top: 8px;
    }

    #month #arrow-right {
        width: 50px;
        height: 50px;
        background: url(../Image/arrow_large2.png) -50px 0;
        margin-top: -41px;
    }

    .day-of-week {
        margin: 20px auto 0;
        padding-bottom: 10px;
    }

    .day-of-week li{
        font-size: 24px !important;
    }

    .submenu{min-width: 280%;right: -270%;}

    .show{
        right: 25%;
    }

    .submenu li a {
        padding: 25px 0;
        font-size: 26px !important;
    }

    /*.submenu li:first-child {*/
        /*border-width: 2px;*/
    /*}*/

    .test {
        font-size: 23px !important;
    }

    .red{
        margin-right: 2px;
        width: 8px;
        height: 8px;
        top: -10px;
    }

    .days li{
        margin: 20px 0;
    }
}

@media only screen and (min-width : 481px) and (max-width : 540px) and (orientation : landscape) {
    #year{
        /*color: aqua;*/
        color: darkorange;
        font-size: 24px !important;
    }

    #header{
        border-width: 3px;
    }

    #logo{
        margin: 11px 5px 3px;
    }

    .logo{
        width: 40px;
        height: 40px;
        content: url('../Image/Logo_med.png');
    }

    #month p{
        font-size: 23px !important;
    }

    #setting{
        padding: 15px 5px 0px;
    }

    .img{
        width : 20px;
        height : 20px;
    }

    .textMenu{font-size: 13px !important;}

    #top #month {
        margin: 10px auto;
    }

    #month #arrow-left {
        width: 40px;
        height: 40px;
        background: url(../Image/arrow_large.png) 0 0;
    }

    #months{
        padding-top: 5px;
    }

    #month #arrow-right {
        width: 40px;
        height: 40px;
        background: url(../Image/arrow_large.png) -40px 0;
        margin-top: -28px;
    }

    .day-of-week li{
        font-size: 18px !important;
    }

    .submenu li a {
        padding: 16px 0;
        font-size: 14px !important;
    }

    .test {
        font-size: 18px !important;
    }

    .red{
        margin-right: 2px;
        width: 6px;
        height: 6px;
        top: -7px;
    }

    .days li{
        margin: 13px 0;
        width: 10.18%;
    }

    .days li.num-day-first {
        margin-right: 2.03%;
    }

    .days li.num-day, .days li.num-day-last {
        margin-right: 4.25%;
    }
}

@media only screen and (min-width : 541px) and (max-width : 600px) {
    #year{
        color: brown;
        font-size: 35px !important;
    }
    #logo{
        margin: 11px 10px 0;
    }

    #header{
        border-width: 5px;
    }

    .logo{
        width: 70px;
        height: 70px;
        /*content: url('../Image/Logo_large.png');*/
    }

    #month p{
        font-size: 38px !important;
    }

    #setting{
        padding: 15px 5px 13px;
    }

    .img{
        width : 38px;
        height : 38px;
    }

    .textMenu{font-size: 25px !important;}

    #content{
        padding-top: 40px;
    }

    #top #month {
        margin: 10px auto;
    }

    #month #arrow-left {
        width: 50px;
        height: 50px;
        background: url(../Image/arrow_large2.png) 0 0;
    }

    #month #arrow-right {
        width: 50px;
        height: 50px;
        background: url(../Image/arrow_large2.png) -50px 0;
        margin-top: -41px;
    }

    .day-of-week {
        margin: 20px auto 0;
        border-width: 2px;
    }

    .day-of-week li{
        font-size: 28px !important;
    }

    .submenu{min-width: 280%;right: -270%;}

    .show{
        right: 25%;
    }

    .submenu li a {
        padding: 28px 0;
        font-size: 26px !important;
    }

    .test{
        font-size: 26px !important;
    }

    .red{
        margin-right: 2px;
        width: 8px;
        height: 8px;
    }

    .days li{
        margin: 22px 0;
    }
}

/*@media only screen and (min-width : 541px) and (max-width : 600px) and (min-device-pixel-ratio : 1.5) and (orientation : portrait),*/
/*only screen and (min-width : 541px) and (max-width : 600px) and (-webkit-min-device-pixel-ratio : 1.5) and (orientation : portrait){*/
    /*#year{*/
        /*color: fuchsia;*/
        /*font-size: 33px !important;*/
    /*}*/
    /*#logo{*/
        /*margin: 17px 15px 8px;*/
    /*}*/

    /*.logo{*/
        /*width: 60px;*/
        /*height: 60px;*/
        /*content: url('../Image/Logo_med.png');*/
    /*}*/

    /*#header{*/
        /*border-width: 5px;*/
    /*}*/

    /*#month p{*/
        /*font-size: 33px !important;*/
    /*}*/

    /*#setting{*/
        /*padding: 18px 5px 0px;*/
    /*}*/

    /*.img{*/
        /*width : 35px;*/
        /*height : 35px;*/
    /*}*/

    /*.textMenu{font-size: 22px !important;}*/

    /*#content{*/
        /*padding-top: 30px;*/
    /*}*/

    /*#top #month {*/
        /*margin: 10px auto;*/
    /*}*/

    /*#month #arrow-left {*/
        /*width: 50px;*/
        /*height: 50px;*/
        /*background: url(../Image/arrow_large2.png) 0 0;*/
    /*}*/

    /*#months{*/
        /*padding-top: 8px;*/
    /*}*/

    /*#month #arrow-right {*/
        /*width: 50px;*/
        /*height: 50px;*/
        /*background: url(../Image/arrow_large2.png) -50px 0;*/
        /*margin-top: -41px;*/
    /*}*/

    /*.day-of-week {*/
        /*margin: 20px auto 0;*/
    /*}*/

    /*.day-of-week li{*/
        /*font-size: 24px !important;*/
    /*}*/

    /*.submenu{min-width: 280%;right: -270%;}*/

    /*.show{*/
        /*right: 25%;*/
    /*}*/

    /*.submenu li a {*/
        /*padding: 25px 0;*/
        /*font-size: 26px !important;*/
    /*}*/

    /*.submenu li:first-child {*/
        /*border-width: 2px;*/
    /*}*/

    /*.test {*/
        /*font-size: 23px !important;*/
    /*}*/

    /*.red{*/
        /*margin-right: 2px;*/
        /*width: 8px;*/
        /*height: 8px;*/
        /*top: -10px;*/
    /*}*/

    /*.days li{*/
        /*margin: 20px 0;*/
    /*}*/
/*}*/

@media only screen and (min-width : 541px) and (max-width : 600px) and (orientation : landscape) {
    #year{
        font-size: 28px !important;
    }
    #logo{
        margin: 15px 5px 0;
    }

    #header{
        border-width: 5px;
    }

    .logo{
        width: 48px;
        height: 48px;
    }

    #month p{
        font-size: 28px !important;
    }

    #setting{
        padding: 17px 5px 11px;
    }

    .img{
        width : 25px;
        height : 25px;
    }

    .textMenu{font-size: 17px !important;}

    #month #arrow-right {
        margin-top: -38px;
    }

    #months{
        padding-top: 10px;
    }

    .day-of-week {
        border-width: 1px;
    }

    .day-of-week li{
        font-size: 18px !important;
    }

    .days li{
        margin: 17px 0;
        width: 10%;
    }

    .days li.num-day-first {
        margin-right: 2%;
    }

    .days li.num-day, .days li.num-day-last {
        margin-right: 4.5%;/* 4.43*/
    }

    .submenu{min-width: 300%; right: -290%;}

    .show{
        right: 25%;
    }

    .submenu li a {
        padding: 21px 0;
        font-size: 19px !important;
    }

    .test{
        font-size: 19px !important;
    }

    .red{
        margin-right: 2px;
        width: 6px;
        height: 6px;
    }
}

@media only screen and (min-width : 601px) and (max-width : 640px) and (orientation : portrait) {
    #year{
        color: deeppink;
        font-size: 30px !important;
    }

    #logo {
        margin: 13px 5px 0;
    }

    .logo {
        content: url('../Image/Logo.png');
        width: 50px;
        height: 50px;
    }

    #setting {
        padding: 13px 5px 8px;
    }

    .img {
        width: 28px;
        height: 28px;
    }

    #header{
        border-width: 4px;
    }

    .textMenu {
        font-size: 23px !important;
    }

    .submenu li a {
        padding: 25px 0;
        font-size: 24px !important;
    }

    .submenu{
        width: 280%;
        right: -270%;
    }

    .show{
        right: 25%;
    }

    #content{
        padding-top: 30px;
    }

    #month p {
        font-size: 32px !important;
    }

    #month #arrow-left {
        width: 50px;
        height: 50px;
        background: url(../Image/arrow_large2.png) 0 0;
    }

    #month #arrow-right {
        width: 50px;
        height: 50px;
        background: url(../Image/arrow_large2.png) -50px 0;
        margin-top: -40px;
    }

    #months {
        padding-top: 8px;
    }

    .day-of-week {
        margin: 20px auto 0;
    }

    .day-of-week li{
        font-size: 23px !important;
    }

    .red{
        width: 6px;
        height: 6px;
    }

    .test {
        font-size: 20px !important;
    }

    .days li.num-day-first {
        margin-right: 2.65%;
    }

    .days li.num-day, .days li.num-day-last {
        margin-right: 5.46%;
    }

    .days li{
        margin: 18px 0;
        width: 9.06%;
    }
}

@media only screen and (min-width : 601px) and (max-width : 640px) and (orientation : landscape) {
    #year{
        color: deeppink;
    }

    .red{
        width: 6px;
        height: 6px;
    }

    .test {
        font-size: 18px !important;
    }

    .logo{
        width: 45px;
        height: 45px;
    }

    .img {
        content: url('../Image/setting.png');
        width: 22px;
        height: 22px;
    }

    .textMenu{
        font-size: 16px !important;
    }

    .submenu{
        width: 280%;
    }

    .submenu li a {
        padding: 20px 0;
        font-size: 16px !important;
    }

    #month #arrow-left {
        width: 40px;
        height: 40px;
        background: url(../Image/arrow_large.png) 0 0;
    }

    #setting{
        padding: 11px 5px 0;
    }

    #month #arrow-right {
        width: 40px;
        height: 40px;
        background: url(../Image/arrow_large.png) -40px
        0;
        margin-top: -29px;
    }

    #months{
        padding-top: 6px;
    }

    #month p{
        font-size: 23px !important;
    }

    .day-of-week li{
        font-size: 18px !important;
    }

    .days li.num-day-first {
        margin-right: 2.48%;
    }

    .days li.num-day, .days li.num-day-last {
        margin-right: 5.46%;/*5.4*/
    }

    .days li{
        margin: 15px 0;
        width: 9.06%;
    }

    .test{
        font-size: 19px !important;
    }
}

@media only screen and (min-width : 641px) and (max-width : 768px) {
    #year{
        color: gold;
        font-size: 35px !important;
    }

    #logo{
        margin: 12px 5px 0;
    }

    .logo{
        width: 70px;
        height: 70px;
    }

    .submenu {
        min-width: 300%;
        right: -290%;
    }

    .show{
        right: 25%;
    }

    #month p{
        font-size: 37px !important;
    }

    #setting{
        padding: 19px 5px 12px;
    }

    .img{
        width : 35px;
        height : 35px;
    }

    .textMenu{font-size: 24px !important;}

    #content{
        padding-top: 40px;
    }

    #top #month {
        margin: 10px auto;
    }

    #months{
        padding-top: 7px;
    }

    #month #arrow-left {
        width: 60px;
        height: 60px;
        background: url(../Image/arrow_large3.png) 0 0;
    }

    #month #arrow-right {
        width: 60px;
        height: 60px;
        background: url(../Image/arrow_large3.png) -60px 0;
        margin-top: -44px;
    }

    .day-of-week {
        margin: 30px auto 0;
        border-width: 3px;
    }

    .day-of-week li{
        font-size: 31px !important;
    }

    .submenu li:first-child{
        border-width: 2px;
    }

    .submenu li a {
        padding: 28px 0;
        font-size: 25px !important;
    }

    .test{
        font-size: 28px !important;
    }

    .red{
        margin-right: 2px;
        width: 9px;
        height:9px;
        top: -8px;
    }

    #header{
        border-width: 5px;
    }

    .days li{
        margin: 22px 0;
        width: 10.41%;
    }

    .days li.num-day, .days li.num-day-last {
        margin-right: 4.03%;
    }

    .days li.num-day-first {
        margin-right: 1.69%;
    }
}

@media only screen and (min-width : 641px) and (max-width : 768px) and (orientation : landscape) {
    #year{
        font-size: 32px !important;
    }

    .logo {
        width: 60px;
        height: 60px;
    }

    .img {
        width: 30px;
        height: 30px;
    }

    .textMenu {
        font-size: 18px !important;
    }

    .submenu li a {
        padding: 23px 0;
        font-size: 21px !important;
    }

    #month #arrow-left {
        width: 50px;
        height: 50px;
        background: url(../Image/arrow_large2.png) 0 0;
    }

    #month #arrow-right {
        width: 50px;
        height: 50px;
        background: url(../Image/arrow_large2.png) -50px 0;
        margin-top: -36px;
    }

    #months{
        padding-top: 6px;
    }

    #month p{
        font-size: 30px !important;
    }

    .day-of-week{
        border-width: 1px;
    }

    .day-of-week li{
        font-size: 26px !important;
    }

    .red{
        width: 7px;
        height: 7px;
        top: -7px;
    }

    .days li{
        margin: 15px 0;
        width: 8.85%;
    }

    .test{
        font-size: 22px !important;
    }

    .days li.num-day-first {
        margin-right: 2.47%;
    }

    .days li.num-day, .days li.num-day-last {
        margin-right: 5.59%;
    }
}

@media only screen and (min-width : 769px) and (max-width : 800px) {
    #year{
        color: darkmagenta;
        font-size: 38px !important;
    }

    #header {
        border-width: 5px;
    }

    #logo {
        margin: 18px 5px 15px;
    }

    .logo {
        width: 80px;
        height: 80px;
    }

    #setting {
        padding: 23px 5px 0;
    }

    .submenu li a {
        padding: 31px 0;
        font-size: 30px !important;
    }

    .submenu{
        width: 300%;
        right: -290%;
    }

    .show{
        right: 25%;
    }

    #content{
        padding-top: 45px;
    }

    #month #arrow-left {
        width: 60px;
        height: 60px;
        background: url(../Image/arrow_large3.png) 0 0;
    }

    #month #arrow-right {
        width: 60px;
        height: 60px;
        background: url(../Image/arrow_large3.png) -60px 0;
        margin-top: -50px;
    }

    #months{
        padding-top: 8px;
    }

    #month p {
        font-size: 42px !important;
    }

    .day-of-week{
        padding-bottom: 10px;
        border-width: 3px;
        margin: 24px auto 0;
    }

    .day-of-week li{
        font-size: 33px !important;
    }

    .img {
        width: 40px;
        height: 40px;
    }

    .textMenu{
        font-size: 30px !important;
    }

    .days li{
        margin: 25px 0;
        width: 10.62%;
    }

    .red {
        width: 8px;
        height: 8px;
    }

    .days li.num-day-first {
        margin-right: 1.75%;
    }

    .days li.num-day, .days li.num-day-last {
        margin-right: 3.75%;
    }

    .test{
        font-size: 31px !important;
    }
}

@media only screen and (min-width : 801px) and (max-width : 854px) {
    #setting {
        padding: 7px 5px 0;
    }

    .img {
        width: 22px;
        height: 22px;
    }

    .textMenu {
        font-size: 16px !important;
    }

    #month p {
        font-size: 23px !important;
    }

    #month #arrow-left {
        width: 40px;
        height: 40px;
        background: url(../Image/arrow_large.png) 0 0;
    }

    #month #arrow-right {
        width: 40px;
        height: 40px;
        background: url(../Image/arrow_large.png) -40px 0;
        margin-top: -29px;
    }

    #months {
        padding-top: 6px;
    }

    #month p {
        font-size: 23px !important;
    }

    .day-of-week {
        margin: 15px auto 0;
    }

    .day-of-week li{
        font-size: 18px !important;
    }

    .days li.num-day-first {
        margin-right: 3.27%;
    }

    .days li.num-day, .days li.num-day-last {
        margin-right: 7.72%;
    }

    .days li{
        margin: 15px 0;
        width: 6.79%;
    }

    .test{
        font-size: 19px !important;
    }

    .red{
        width: 6px;height: 6px;
    }
}

@media only screen and (min-width : 855px) and (max-width : 960px) {
    .logo {
        width: 45px;
        height: 45px;
    }

    #setting {
        padding: 10px 5px 0;
    }

    .img {
        width: 25px;
        height: 25px;
    }

    .textMenu {
        font-size: 15px !important;
    }

    .submenu{
        width: 280%;
    }

    .days li.num-day-first {
        margin-right: 3.85%;
    }

    .days li.num-day, .days li.num-day-last {
        margin-right: 8.85%;
    }

    .days li {
        width: 5.72%;
        margin: 13px auto;
    }

    .red {
        width: 6px;
        height: 6px;
    }

    .test {
        font-size: 16px !important;
    }
}

/*landscape*/
@media only screen and (min-width : 961px) and (max-width : 1024px) {
    #setting {
        padding: 17px 5px 8px;
    }

    .logo{
        width: 55px;
        height: 55px;
        margin: 3px 5px 0;
    }

    .img{
        width: 30px;
        height: 30px;
    }

    .submenu{
        width: 300%;
        right: -280%;
    }

    .textMenu {
        font-size: 20px !important;
    }

    .show{
        right: 25%;
    }

    .test {
        font-size: 22px !important;
    }

    .days li.num-day-first {
        margin-right: 3.71%;
    }

    .days li.num-day, .days li.num-day-last {
        margin-right: 8.15%;
    }

    .red{
        width: 6px;
        height: 6px;
    }

    .days li{
        width: 6.34%;
        margin: 15px 0;
    }

    #month #arrow-left {
        width: 40px;
        height: 40px;
        background: url(../Image/arrow_large.png) 0 0;
    }

    #month #arrow-right {
        width: 40px;
        height: 40px;
        background: url(../Image/arrow_large.png) -40px 0;
        margin-top: -32px;
    }

    #months {
        padding-top: 7px;
    }

    #month p {
        font-size: 24px !important;
    }

    .submenu li a {
        padding: 23px 0;
        font-size: 21px !important;
    }

    .day-of-week li {
        font-size: 22px !important;
    }
}

@media only screen and (min-width : 1025px) and (max-width : 1080px) {

}

@media only screen and (min-width : 1081px) and (max-width : 1136px) {

}

@media only screen and (min-width : 1137px) and (max-width : 1280px) {
    #logo {
        margin: 10px 5px 0;
    }

    .logo {
        width: 55px;
        height: 55px;
    }

    .img {
        width: 30px;
        height: 30px;
    }

    .textMenu {
        font-size: 18px !important;
    }

    .submenu li a {
        padding: 20px 0;
        font-size: 19px !important;
    }

    .submenu{
        width: 270%;
    }

    #header{
        border-width: 4px;
    }

    #year{
        font-size: 28px !important;
    }

    #month #arrow-left {
        width: 50px;
        height: 50px;
        background: url(../Image/arrow_large2.png) 0 0;
    }

    #month #arrow-right {
        width: 50px;
        height: 50px;
        background: url(../Image/arrow_large2.png) -50px 0;
        margin-top: -37px;
    }

    #month p {
        font-size: 29px !important;
    }

    #months{
        padding-top: 8px;
    }

    .day-of-week {
        margin-top: 15px;
    }

    .day-of-week li.o {
        margin-right: 0.9%;
    }

    .day-of-week li {
        width: 2.46%;
        margin-right: 13.48%;
        font-size: 23px !important;
    }

    .days li.num-day-first {
        margin-right: 1.32%;
    }

    .days li.num-day, .days li.num-day-last {
        margin-right: 8.67%;
    }

    .days li {
        width: 6.48%;
        margin: 15px auto;
    }

    .test {
        font-size: 24px !important;
    }

    .red{
        width: 8px;
        height: 8px;
    }
}

/* landscape*/
@media only screen and (min-width : 1281px) and (max-width : 1366px) {
    #logo {
        margin: 12px 5px 5px;
    }

    .logo {
        width: 60px;
        height: 60px;
    }

    #setting {
        padding: 15px 5px 0;
    }

    .img {
        width: 33px;
        height: 33px;
    }

    .textMenu {
        font-size: 23px !important;
    }

    .submenu li a {
        padding: 25px 0;
        font-size: 24px !important;
    }

    .submenu{
        width: 280%;
        right: -270%;
    }

    .show{
        right: 25%;
    }

    #content {
        padding-top: 30px;
    }

    #year{
        font-size: 29px !important;
    }

    #month p{
        font-size: 29px !important;
    }

    #month #arrow-left {
        width: 50px;
        height: 50px;
        background: url(../Image/arrow_large2.png) 0 0;
    }

    #month #arrow-right {
        width: 50px;
        height: 50px;
        background: url(../Image/arrow_large2.png) -50px 0;
        margin-top: -48px;
    }

    .day-of-week li {
        width: 2.32%;
        margin-right: 13.58%;
        font-size: 29px !important;
    }

    .day-of-week{
        margin: 20px auto 0;
    }

    #months{
        padding-top: 18px;
    }

    .days li{
        width: 7.32%;
        margin: 20px auto;
    }

    .days li.num-day-first{
        margin-right: 1.09%;
    }

    .days li.num-day, .days li.num-day-last {
        margin-right: 7.68%;
    }

    .test{
        font-size: 25px !important;
    }

    .red{
        width: 9px;
        height: 9px;
    }
}

@media only screen and (min-width : 1367px) and (max-width : 1600px) {

}

@media only screen and (min-width : 1601px) and (max-width : 1920px){

}

@media only screen and (min-width : 1921px) {

}