@media only screen and (max-device-width : 320px) {
    .day-of-week li{
        margin-left: 5.5%;
        margin-right: 1.3%;
    }

    .test{
        margin: 9px auto;
    }

    #number{
        width: 35px;
        height : 35px;
    }

    .days li.first{
        margin-right: 12px;
        margin-left: 0;
    }

    .days li{
        margin: 5px 2% 5px 1.3%;
    }

    .days li.num-day-first{
        margin-right: 2%;
    }
}

@media only screen and (max-device-width : 320px) and (-webkit-device-pixel-ratio : 1) and (orientation : portrait){
    .submenu li a {
        font-size: 1em;
    }

    .red{
        margin-right: 4px;
    }

    .days li.num-day-first{
        margin-right: 1.5%;
    }

    .days li{
        margin: 5px 2.2% 5px 1.2%;
    }

    #month p{
        font-size: 1.5em;
    }

    #month #arrow-right {
        margin-top: -24px;
    }
}

@media only screen and (max-device-width : 320px) and (-webkit-device-pixel-ratio : 1.5) and (orientation : portrait){
    #logo{
        margin: 17px 10px 0;
    }

    .logo{
        width: 38px;
        height: 38px;
    }

    #month #arrow-right {
        margin-top: -19px;
    }

    #month p{
        font-size: 1.2em;
    }

    #setting{
        padding: 22px 19px 13px;
    }

    .img{
        width : 15px;
        height : 15px;
    }

    .textMenu{font-size: 10px;}

    .day-of-week li{
        margin-left: 5.8%;
        width: 5.8%;
    }

    #year{
        font-size: 17px;
    }

    .submenu{min-width: 140%;}

    .submenu li a {
        padding: 15px 0;
        font-size: 12px;
    }

    .test{
        margin: 6px auto;
        font-size: 12px;
    }

    .red{
        margin-right: 2px;
        width: 4px;
        height: 4px;
    }

    #number{
        width: 23px;
        height : 23px;
    }

    .days li.num-day-first{
        margin-right: 1.5%;
    }

    .days li {
        margin: 5px 2.2% 5px 1.3%;
    }
}

@media only screen and (max-device-width : 320px) and (min-device-height : 530px) and (-webkit-device-pixel-ratio : 1.5) and (orientation : portrait){
    #year{
        color: deepskyblue;
        font-size: 1.4em;
    }
    #logo{
        margin: 20px 10px 0;
    }

    .logo{
        width: 38px;
        height: 38px;
    }

    #month #arrow-right {
        margin-top: -19px;
    }

    #setting{
        padding: 22px 19px 13px;
    }

    .img{
        width : 22px;
        height : 22px;
    }

    .textMenu{font-size: 11px;}

    .day-of-week li:first-child{
        margin-right: 3%;
    }

    .day-of-week li{
        margin-left: 6.3%;
        width: 5.8%;
    }

    .submenu{min-width: 180%;}

    .submenu li a {
        padding: 20px 0;
        font-size: 0.9em;
    }

    .test{
        margin: 10px auto;
        font-size: 0.9em;
    }

    .red{
        margin-right: 2px;
        width: 5px;
        height: 5px;
    }

    #number{
        width: 33px;
        height : 33px;
    }

    .days li.num-day-first{
        margin-right: 3.3%;
    }

    .days li.first{
        margin-right: 12px;
        margin-left: 0;
    }

    .days li {
        margin: 5px 2.2% 5px 1.4%;
    }
}

@media only screen and (min-device-width : 321px) and (max-device-width : 360px) and (orientation : portrait){
    #content{
        padding-top: 30px;
    }

    #year{font-size: 1.2em}

    .day-of-week li{
        margin-left: 6.6%;
    }

    #number{
        width: 35px;
        height: 35px;
    }

    #month p{
        font-size: 1.3em; /*1.5*/
    }

    .days li.num-day-first {
        margin-right: 3.5%;
    }

    .test{
        margin: 9px 0;
    }

    .days li {
        margin: 5px 2.2% 5px 2%;
    }

    .day-of-week li:first-child {
        margin-right: 3%;
    }

    .submenu{
        width: 200%;
    }

    .submenu li a{
        font-size: 1em;
    }
}

@media screen and (min-device-width : 321px) and (max-device-width : 360px) and (-webkit-device-pixel-ratio : 1.5) and (orientation : portrait){
    #content{
        padding-top: 20px;
    }

    .submenu li a {
        font-size: 0.9em;
    }

    .day-of-week li{
        margin-left: 6.6%;
    }

    #month p{
        font-size: 1.5em;
    }

    .days li.num-day-first {
        margin-right: 3.5%;
    }
}

@media only screen and (min-device-width : 361px) and (max-device-width : 480px)  {
    #year{
        font-size: 1.5em;
    }

    .submenu li a {
        font-size: 1.2em;
        padding: 25px 0;
    }

    #content{
        padding-top: 25px;
    }

    #logo{
        margin: 22px 15px 0;
    }

    .logo {
        content: url('../Image/Logo_med.png');
        width: 60px;
        height: 60px;
    }

    .img{
        width: 30px;height: 30px;
    }

    .textMenu{
        font-size: 15px;
    }

    .submenu li a{
        font-size: 20px;
    }

    #setting{
        padding: 25px;
    }

    #month #arrow-left {
        width: 40px;
        height: 40px;
        background: url(../Image/arrow_med.png) 0 0;
    }

    #month #arrow-right {
        width: 40px;
        height: 40px;
        background: url(../Image/arrow_med.png) -40px 0;
        margin-top: -27px;
    }

    #month p{
        font-size: 1.7em;
    }

    .day-of-week li:first-child{
        margin-right: 2.5%;
    }

    .day-of-week li{
        font-size: 1.1em;
        margin-left: 7.2%;
    }

    .day-of-week{
        margin: 30px auto 0;
    }

    .test {
        font-size: 1.2em;
        margin: 16px auto;
    }

    #number{
        width: 50px;height: 50px;
    }

    .red{
        width: 8px;height: 8px;
    }

    .days li{
        margin: 10px 1.9% 17px 1.8%;
    }

    .days li.num-day-first{
        margin-right: 3%;
    }
}

@media only screen and (min-device-width : 361px) and (max-device-width : 480px) and (-webkit-device-pixel-ratio : 1.7)  {
    .submenu li a {
        font-size: 1.1em;
    }

    .day-of-week li{
        font-size: 1.1em;
        margin-left: 6.9%;
    }

    .days li{
        margin: 10px 2.1% 17px -0.1%;
    }
}

@media only screen and (min-device-width : 361px) and (max-device-width : 480px) and (-webkit-device-pixel-ratio : 2)  {
    #year{
        color: lightseagreen;
        font-size: 1.4em;
    }

    .submenu li a {
        font-size: 1em;
        padding: 21px 0;
    }

    .logo {
        content: url('../Image/Logo.png');
        width: 48px;
        height: 48px;
    }

    .img{
        width: 25px;
        height: 25px;
    }

    .textMenu{
        font-size: 0.8em;
    }

    #setting{
        padding: 24px 25px;
    }

    #month p{
        font-size: 1.5em;
    }

    .day-of-week li{
        margin-left: 6.9%;
    }

    .day-of-week{
        margin: 15px auto 0;
    }

    .test{
        font-size: 1em;
        margin: 13px auto;
    }

    #number{
        width: 40px;height: 40px;
    }

    .red{
        width: 6px;height: 6px;
    }

    .days li{
        margin: 5px 2.6% 5px 1%;
    }

    .days li.num-day-first{
        margin-right: 3%;
    }
}

@media only screen and (min-device-width : 481px) and (max-device-width : 540px) {
    #year{
        font-size: 2.2em;
    }
    #logo{
        margin: 30px 20px 0;;
    }

    .logo{
        width: 75px;
        height: 75px;
        content: url('../Image/Logo_large.png');
    }

    #month p{
        font-size: 2em;
    }

    #setting{
        padding: 32px 29px;
    }

    .img{
        width : 40px;
        height : 40px;
    }

    .textMenu{font-size: 1.2em;}

    #content{
        padding-top: 30px;
    }

    #top #month {
        margin: 10px auto;
    }

    #month #arrow-left {
        width: 50px;
        height: 50px;
        background: url(../Image/arrow_medium.png) 0 0;
    }

    #month #arrow-right {
        width: 50px;
        height: 50px;
        background: url(../Image/arrow_medium.png) -50px 0;
        margin-top: -32px;
    }

    .day-of-week {
        margin: 20px auto 0;
        padding-bottom: 20px;
    }

    .day-of-week li:first-child{
        margin-right: 4%;
    }

    .day-of-week li{
        margin-left: 7.8%;
        width: 5.8%;
        font-size: 1.5em;
    }

    .submenu{min-width: 180%;}

    .submenu li a {
        padding: 30px 0;
        font-size: 1.3em;
    }

    .test{
        margin: 17px auto;
        font-size: 1.5em;
    }

    .red{
        margin-right: 2px;
        width: 10px;
        height: 10px;
    }

    #number{
        width: 60px;
        height: 60px;
    }

    .days li.num-day-first{
        margin-right: 4%;
    }

    .days li.first{
        margin-right: 12px;
        margin-left: 0;
    }

    .days li {
        margin: 15px 2% 15px 0.5%;
    }
}

@media only screen and (min-device-width : 481px) and (max-device-width : 540px) and (-webkit-device-pixel-ratio : 1.5){
    #year{
        font-size: 1.6em;
    }

    .submenu li a {
        padding: 25px 0;
        font-size: 1em;
    }

    .logo {
        width: 48px;
        height: 48px;
        content: url('../Image/Logo.png');
    }

    .img {
        width: 25px;
        height: 25px;
    }

    .textMenu {
        font-size: 0.8em;
    }

    #setting {
        padding: 22px 29px;
    }

    #logo {
        margin: 20px 20px 0;
    }

    #month #arrow-left{
        width: 40px;
        height: 40px;
        background: url("../Image/arrow_med.png") 0 0;
    }

    #month p{
        font-size: 1.5em;
    }

    #month #arrow-right {
        width: 40px;
        height: 40px;
        background: url("../Image/arrow_med.png") -40px 0;
        margin-top: -24px;
    }

    .day-of-week{
        padding-bottom: 15px;
    }

    .day-of-week li{
        font-size: 1.1em;
    }

    .days li {
        margin: 10px 3.1% 10px 1.2%;
    }

    .days li.num-day-first {
        margin-right: 4.6%;
    }

    #number {
        width: 50px;
        height: 50px;
    }

    .test {
        font-size: 1.1em;
    }

    .red{
        width: 7px;height: 7px;
    }
}

@media only screen and (min-device-width : 541px) and (max-device-width : 600px){
    #year{
        color: deepskyblue;
        font-size: 2.2em;
    }
    #logo{
        margin: 30px 20px 0;;
    }

    .logo{
        width: 75px;
        height: 75px;
        content: url('../Image/Logo_large.png');
    }

    #month p{
        font-size: 2em;
    }

    #setting{
        padding: 32px 29px;
    }

    .img{
        width : 40px;
        height : 40px;
    }

    .textMenu{font-size: 1.2em;}

    #content{
        padding-top: 30px;
    }

    #top #month {
        margin: 10px auto;
    }

    #month #arrow-left {
        width: 50px;
        height: 50px;
        background: url(../Image/arrow_medium.png) 0 0;
    }

    #month #arrow-right {
        width: 50px;
        height: 50px;
        background: url(../Image/arrow_medium.png) -50px 0;
        margin-top: -32px;
    }

    .day-of-week {
        margin: 20px auto 0;
        padding-bottom: 20px;
    }

    .day-of-week li:first-child{
        margin-right: 4%;
    }

    .day-of-week li{
        margin-left: 7.8%;
        width: 5.8%;
        font-size: 1.5em;
    }

    .submenu{min-width: 180%;}

    .submenu li a {
        padding: 30px 0;
        font-size: 1.3em;
    }

    .test{
        margin: 17px auto;
        font-size: 1.6em;
    }

    .red{
        margin-right: 2px;
        width: 10px;
        height: 10px;
    }

    #number{
        width: 60px;
        height: 60px;
    }

    .days li.num-day-first{
        margin-right: 4.1%;
    }

    .days li.first{
        margin-right: 12px;
        margin-left: 0;
    }

    .days li {
        margin: 15px 2.2% 15px 1.4%;
    }
}

@media only screen and (min-device-width : 541px) and (max-device-width : 600px) and (-webkit-device-pixel-ratio : 1.5){
    #year{
        color: #308D91;
        font-size: 1.8em;
    }

    #logo {
        margin: 24px 20px 0;
    }

    .logo {
        width: 60px;
        height: 60px;
        content: url('../Image/Logo_med.png');
    }

    #setting {
        padding: 26px 29px;
    }

    .img {
        width: 30px;
        height: 30px;
    }

    .submenu li a {
        padding: 30px 0;
        font-size: 1.1em;
    }

    #month #arrow-left {
        width: 40px;
        height: 40px;
        background: url(../Image/arrow_med.png) 0 0;
    }

    #month p {
        font-size: 1.6em;
    }

    #month #arrow-right {
        width: 40px;
        height: 40px;
        background: url(../Image/arrow_med.png) -40px 0;
        margin-top: -26px;
    }

    .day-of-week{
        padding-bottom: 15px;
    }

    .day-of-week li {
        margin-left: 7.9%;
        font-size: 1.1em;
    }

    .days li.num-day-first {
        margin-right: 5%;
    }

    .days li {
        margin: 5px 2.4% 9px 2.5%;
    }

    .red {
        width: 6px;
        height: 6px;
    }

    .test {
        font-size: 1.2em;
    }

    #number {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-device-width : 601px) and (max-device-width : 640px) {
    .test {
        margin: 14px 0;
    }

    #content{
        padding-top: 10px;
    }

    .day-of-week li:first-child {
        margin-right: 2.5%;
    }
    .day-of-week li {
        margin-left: 7.3%;
    }

    #month p{
        font-size: 1.4em;
    }

    #month #arrow-right {
        margin-top: -22px;
    }

    #number {
        width: 45px;
        height: 45px;
    }

    .days li {
        margin-left: 6.9%;
        margin-bottom: 10px;
    }

    .days li.num-day-first{
        margin-right: 5%;
    }
}

@media screen and (min-device-width : 601px) and (max-device-width : 640px) and (-webkit-device-pixel-ratio : 1.325) {
    #header{
        border-width: 4px;
    }

    #logo {
        margin: 27px 20px 0;
    }

    .logo {
        content: url('../Image/Logo_med.png');
        width: 60px;
        height: 60px;
    }

    #setting {
        padding: 27px 30px;
    }

    .img {
        width: 35px;
        height: 35px;
    }

    .textMenu {
        font-size: 1.2em;
    }

    .submenu li a {
        padding: 30px 0;
        font-size: 1.3em;
    }

    #year {
        font-size: 2em;
    }

    #content{
        padding-top: 30px;
    }

    #month #arrow-left {
        width: 50px;
        height: 50px;
        background: url(../Image/arrow_medium.png) 0 0;
    }

    #month p {
        font-size: 1.9em;
    }

    #month #arrow-right {
        margin-top: -30px;
        width: 50px;
        height: 50px;
        background: url(../Image/arrow_medium.png) -50px 0;
    }

    .day-of-week {
        padding-bottom: 15px;
        margin: 20px auto 0;
    }

    .day-of-week li{
        font-size: 1.1em;
    }

    .days li {
        margin: 10px 0 10px 5.6%;
    }

    #number {
        width: 50px;
        height: 50px;
    }

    .test {
        margin: 15px 0;
        font-size: 1.3em;
    }
}

@media screen and (min-device-width : 641px) and (max-device-width : 768px) {
    #year{
        color: coral;
        font-size: 2.2em;
    }
    #logo{
        margin: 36px 25px 0;
    }

    .logo{
        width: 75px;
        height: 75px;
        content: url('../Image/Logo_large.png');
    }

    #month p{
        font-size: 2.3em;
    }

    #setting{
        padding: 35px;
    }

    .img{
        width : 45px;
        height : 45px;
    }

    .textMenu{font-size: 1.3em;}

    #content{
        padding-top: 60px;
    }

    #top #month {
        margin: 10px auto;
    }

    #month #arrow-left {
        width: 70px;
        height: 70px;
        background: url(../Image/arrow_large.png) 0 0;
    }

    #month #arrow-right {
        width: 70px;
        height: 70px;
        background: url(../Image/arrow_large.png) -70px 0;
        margin-top: -37px;
    }

    .day-of-week {
        margin: 30px auto 0;
        padding-bottom: 20px;
        border-width: 3px;
    }

    .day-of-week li:first-child{
        margin-right: 4%;
    }

    .day-of-week li{
        margin-left: 7.9%;
        width: 5.8%;
        font-size: 1.7em;
    }

    .submenu{min-width: 190%;}

    .submenu li a {
        padding: 35px 0;
        font-size: 1.6em;
    }

    .test{
        margin: 21px auto;
        font-size: 2em;
    }

    .red{
        margin-right: 2px;
        width: 12px;
        height: 12px;
    }

    #number{
        width: 70px;
        height: 70px;
    }

    .days li.num-day-first{
        margin-right: 4.1%;
    }

    .days li.first{
        margin-right: 12px;
        margin-left: 0;
    }

    .days li {
        margin: 25px 2.4% 25px 1.5%;
    }
}

@media screen and (min-device-width : 641px) and (max-device-width : 768px) and (-webkit-device-pixel-ratio : 1){
    .days li {
        margin: 25px 1.8% 25px 2.7%;
    }

    .days li.num-day-first{
        margin-right: 4.3%;
    }
}

@media screen and (min-device-width : 769px) and (max-device-width : 800px) {
    #year{
        color: blueviolet;
        font-size: 2.2em;
    }
    #logo{
        margin: 36px 25px 0;
    }

    .logo{
        width: 75px;
        height: 75px;
        content: url('../Image/Logo_large.png');
    }

    #month p{
        font-size: 2.3em;
    }

    #setting{
        padding: 35px;
    }

    .img{
        width : 45px;
        height : 45px;
    }

    .textMenu{font-size: 1.3em;}

    #content{
        padding-top: 60px;
    }

    #top #month {
        margin: 10px auto;
    }

    #month #arrow-left {
        width: 70px;
        height: 70px;
        background: url(../Image/arrow_large.png) 0 0;
    }

    #month #arrow-right {
        width: 70px;
        height: 70px;
        background: url(../Image/arrow_large.png) -70px 0;
        margin-top: -37px;
    }

    .day-of-week {
        margin: 30px auto 0;
        padding-bottom: 20px;
        border-width: 3px;
    }

    .day-of-week li:first-child{
        margin-right: 4%;
    }

    .day-of-week li{
        margin-left: 8.1%;
        width: 5.8%;
        font-size: 1.7em;
    }

    .submenu{min-width: 190%;}

    .submenu li a {
        padding: 35px 0;
        font-size: 1.6em;
    }

    .test{
        margin: 21px auto;
        font-size: 2em;
    }

    .red{
        margin-right: 2px;
        width: 12px;
        height: 12px;
    }

    #number{
        width: 70px;
        height: 70px;
    }

    .days li.num-day-first{
        margin-right: 4.6%;
    }

    .days li {
        margin: 25px 2.5% 25px 2.5%;
    }
}

@media screen and (min-device-width : 801px) and (max-device-width : 854px) {
    #year{color: #308D91;}

    .submenu li a {
        padding: 23px 0;
        font-size: 0.9em;
    }

    .day-of-week li {
        margin-left: 7.6%;
    }

    .days li.num-day-first {
        margin-right: 4.3%;
    }

    .days li {
        margin-left: 7.1%;
    }

    .red{
        width: 8px;height: 8px;
    }

    #number{
        width: 60px;height: 60px;
    }

    .test {
        margin: 21px 0;
        font-size: 1.2em;
    }
}