*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    font-family: MrMehdiHeydari;
    direction: rtl;
}

.badboy{
    width: 0;
    height: 0;
    clear: both;
}

body{
    background: rgb(238,238,238);
}

#header{
    width: 100%;
    background: cornflowerblue;
    border-bottom: 3px solid #F3C73A;
    padding-bottom: 5px;
}

#logo{
    margin: 14px 15px 0;
    float: left;
}

.logo{
    content: url('../Image/Logo.png');
    width: 48px;
    height: 48px;
}

#setting{
    float: right;
    position: relative;
    padding: 17px;
}

#setting img{
    margin: 0 auto;
    display: block;
}

.img{
    content: url('../Image/setting.png');
    width: 24px;
    height: 24px;
}

.textMenu{
    font-size: 12px;
    margin: 2px 1px 0 0;
    color: beige;
}

.submenu{
    visibility: hidden;
    position: absolute;
    background: #308D91;
    min-width: 190%;
    top: 100%;
    right: -200%;
    margin-right: -10px;
    box-shadow: 0px 0px 12px -1px #0F1614;
    -webkit-transition : all .5s ease-in-out;
}

.submenu li{
    list-style: none;
}

.submenu li a{
    display: block;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
}

.submenu li:first-child{
    border-bottom: 1px solid #929292;
}

.show{
    right: 20%;
    visibility: visible;
    -webkit-transition : all .5s ease-in-out;
}

/*--------------- content --------------*/

#content{
    padding-top: 1px;
    padding-bottom: 10px;
}

#year{
    color: rgb(134,134,134);
    font-size: 1.2em;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 15px;
    font-family: B Nazanin;
}

#top #month{
    width: 95%;
    margin: 5px auto;
}

#month #arrow-left {
    float: left;
}

#month #arrow-left{
    width: 30px;
    height: 30px;
    background: url(../Image/arrow.png) 0 0;
}

#month #arrow-right {
    float: right;
    margin-top: -21px ;
    width: 30px;
    height: 30px;
    background: url(../Image/arrow.png) -30px 0;
}

#months{
    width: 60%;
    display: block;
    margin: 0 auto;
}

#month p{
    text-align: center;
    color: rgb(134,134,134);
    font-size: 1.2em;
}

#arrow-left a{
    display: block;
    padding: 15px;
    background: url("../Image/arrow.png") 0 0;
}

#arrow-right a{
    display: block;
    padding: 15px;
    background: url("../Image/arrow.png") -30px 0;
}

.day-of-week{
    width: 95%;
    border-bottom : 1px solid cornflowerblue;
    margin: 15px auto 0;
    padding-bottom: 5px;
}

.day-of-week li{
    display: inline-block;
    text-align: center;
    height: 25px;
    width: 6.8%; /*6.8*/
    margin-left: 6.6%;
    font-size: 1em;
}

.day-of-week li:first-child{
    margin-right: 2%;
}

.day-of-week li:last-child{
    /*    margin-right: 0;*/
    margin-left: 0;
}

.days{
    width: 100%;
    margin: 5px auto;
}

.days li{
    float: right;
    margin-left: 5%;
    list-style: none;
}

.days a{
    display: block;
    text-decoration: none;
}

.days li.num-day-last{
    margin-left: 0;
}

.days li.num-day-first{
    margin-right: 1%;
}

.red {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    visibility: hidden;
    background: deeppink;
    margin-right: 3px;
}

#number{
    width: 30px;
    height: 30px;
    border: 1px solid rgb(193,193,193);
    margin: 0 auto;
    border-radius: 50%;
}

.first-row{
    display: block;
    visibility: hidden;
}

.other{
    display: none;
}

.first{
    visibility: visible;
}

.active{
    background: rgb(108, 192, 152);
    visibility: visible;
}

.other-show{
    display: block;
}

.test{
    font-family: B Nazanin;
    text-align: center;
    margin: 7px 0;
    color: #2E2927;
}

.select{
    color: #fff;
}

.j{
    border : 1px solid red;
}