*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: MrMehdiHeydari;
}

.badboy{
    width: 0;
    height: 0;
    clear: both;
}

#header{
    width: 100%;
    background: cornflowerblue;
    border-bottom: 3px solid #F3C73A;
    padding-bottom: 5px;
}

#logo{
    margin: 10px 15px 0;
    float: left;
}

.menu{
    display: block;
    text-decoration: none;
    padding: 17px;
}

#setting{
    float: right;
}

#setting img{
    margin: 0 auto;
    display: block;
}

.textMenu{
    font-size: 12px;
    margin: 2px 1px 0 0;
    color: beige;
}

/*--------------- content --------------*/

#content{
    height: 60px;
    background: rgb(238,238,238);
    padding-top: 1px;
}

#year{
    color: rgb(134,134,134);
    font-size: 25px;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 15px;
    font-family: B Nazanin;
}