@font-face {
    font-family: 'BNazaninRegular';
    src: url('../Font/bnazanin.eot');
    src: url('../Font/bnazanin.eot') format('embedded-opentype'),
    url('../Font/bnazanin.woff') format('woff'),
    url('../Font/bnazanin.ttf') format('truetype'),
    url('../Font/bnazanin.svg#BNazaninRegular') format('svg');
}


*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing  : border-box;
    box-sizing: border-box;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select : none;
    font-family : BNazaninRegular;
    -webkit-text-rendering : auto;
    -moz-text-rendering : auto;
    -o-text-rendering : auto;
    text-rendering : auto;
    direction: rtl;
}

.badboy{
    width: 0;
    height: 0;
    clear: both;
}

body{
    background: rgb(238,238,238);
    font-size: 16px;
}

#header{
    width: 100%;
    background: cornflowerblue;
    border-bottom: 3px solid #F3C73A;
    padding-bottom: 5px;
}

#logo{
    margin: 8px 5px 0;
    float: left;
}

.logo{
    content: url('../Image/Logo.png');
    width: 39px;
    height: 39px;
}

#setting{
    float: right;
    position: relative;
    padding: 13px 5px 0;
}

#setting img{
    margin: 0 auto;
    display: block;
}

.img{
    content: url('../Image/setting.png');
    width: 20px;
    height: 20px;
}

.textMenu{
    font-size: 14px !important;
    margin: 2px 1px 0 0;
    color: beige;
}

.submenu{
    visibility: hidden;
    position: absolute;
    background: #308D91;
    min-width: 250%;
    top: 100%;
    right: -260%;
    margin-right: -10px;
    box-shadow: 0px 0px 12px -1px #0F1614;
    -webkit-transition : all .5s ease-in-out;
}

.submenu li{
    list-style: none;
}

.submenu li a{
    display: block;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px !important;
}

.submenu li:first-child{
    border-bottom: 1px solid #929292;
}

.show{
    right: 25%;
    visibility: visible;
    -webkit-transition : all .5s ease-in-out;
    -moz-transition : all .5s ease-in-out;
    -o-transition : all .5s ease-in-out;
    transition : all .5s ease-in-out;
}

/*--------------- content --------------*/

#content{
    padding-top: 10px;
    padding-bottom: 10px;
}

#year{
    color: rgb(134,134,134);
    font-size: 23px !important;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 15px;
    font-family: 'BNazaninRegular';
}

#top #month{
    width: 95%;
    margin: 5px auto;
}

#month #arrow-left {
    float: left;
}

#month #arrow-left{
    width: 30px;
    height: 30px;
    background: url(../Image/arrow.png) 0 0;
}

#month #arrow-right {
    float: right;
    margin-top: -25px ;
    width: 30px;
    height: 30px;
    background: url(../Image/arrow.png) -30px 0;
}

#months{
    width: 60%;
    display: block;
    margin: 0 auto;
    padding-top: 3px;
}

#month p{
    text-align: center;
    color: rgb(134,134,134);
    font-size: 22px !important;
}

#arrow-left a{
    display: block;
    padding: 15px;
    background: url("../Image/arrow.png") 0 0;
}

#arrow-right a{
    display: block;
    padding: 15px;
    background: url("../Image/arrow.png") -30px 0;
}

.day-of-week{
    width: 95%;
    border-bottom : 1px solid cornflowerblue;
    margin: 10px auto 0;
}

.day-of-week li{
    height: 25px;
    float: right;
    list-style: none;
    width: 6.8%; /*6.8*/
    margin-right: 8.42%;
    font-size: 1.0625em !important;
    text-align: center;
}

.day-of-week li.o{
    margin-right: 1.2%;
}

.day-of-week li:last-child{
    margin-left: 0;
}

.days{
    width: 100%;
    margin: 5px auto;
}

.days li{
    float: right;
    position: relative;
    list-style: none;
    width: 11.2%;
    border: 1px solid rgb(193,193,193);
    margin: 0 auto;
    border-radius: 30px;
}

.days a{
    display: block;
    text-decoration: none;
}

.days li.num-day-last{
    margin-left: 0;
}

.days li.num-day-first{
    margin-right: 1.2%;
}

.days li.num-day , .days li.num-day-last{
    margin-right: 3.2%;
}

.red {
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 6px;
    visibility: hidden;
    background: deeppink;
    top: -5px;
}

.first-row{
    display: block;
    visibility: hidden;
}

.other{
    display: none;
}

.first{
    visibility: visible;
}

.active{
    background: rgb(108, 192, 152);
    visibility: visible;
}

.other-show{
    display: block;
}

.test{
    text-align: center;
    color: #2E2927;
    font-size: 13px !important;
}

.select{
    color: #fff;
}